.carouselWrapper {
  height: 100vh;
  justify-content: center;
  padding: 7%;
  @include d(l) {
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: $olive;
  }
  @include d(m) {
    display: flex;
    flex-direction: column;
    background-color: $olive;
  }
  @include d(s) {
    display: none;
  }
}
